@import './style.scss' layer(har-analyzer-style);
@layer har-analyzer-style, standalone-app-har-analyzer;

@layer standalone-app-har-analyzer {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 13px;
    }

    body {
        font-weight: normal;
        padding: 1em;
        overflow: hidden;
        background-color: var(--body-bg);
        color: var(--body-text-color);
        outline: orange dashed 1px;
        box-sizing: border-box;
    }

    #app {
        height: 100%;
        box-sizing: border-box;

        .har-analyzer {
            max-height: calc(100% - 3rem);
        }
    }
}